<a href="https://colab.research.google.com/github/PratikshaPP/Market-Sales-Analytics/blob/master/kmeans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import random as rd
import matplotlib.pyplot as plt

In [5]:
url = 'https://raw.githubusercontent.com/PratikshaPP/Market-Sales-Analytics/master/clustering.csv'
data = pd.read_csv(url)
data.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001003   Male     Yes  ...            1.0         Rural           N
1  LP001005   Male     Yes  ...            1.0         Urban           Y
2  LP001006   Male     Yes  ...            1.0         Urban           Y
3  LP001008   Male      No  ...            1.0         Urban           Y
4  LP001013   Male     Yes  ...            1.0         Urban           Y

[5 rows x 13 columns]